/*------------------------------------------------*/

/* RESETS */

/*------------------------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: 3px dashed #228bec;
  outline-offset: 0;
}
html {
  font: 62.5% / 1.15 sans-serif;
}
h1,
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
input[type="text"] {
  border-radius: 0;
}
body {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
  font: 1.6rem/1.25 "Lato", Arial, sans-serif;
  background:#302f83;
  color:white;
}
@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}


/*------------------------------------------------*/


/* GLOBAL STYLES */


/*------------------------------------------------*/


/*navbar*/
/*remove this later*/
nav{
    background:#4141bf;
}

#nav-links {
  padding:20px 30px;
}

#nav-links a {
  margin-left:30px;
  color:white;
}

#navbar-brand {
  color:white;
  font-size:30px;
  font-weight:800;
}

/*comic page*/

.comic-profile-image {
  border-radius:100%;
  width:200px;
  height:200px;
}

/*footer*/
footer {
  display:none;
}

.footer-copyright {
  text-align:center;
}

.valSilverStripe_WellingtonComedy_ComedianHolder {
  display:none!important;
}

/*------------------------------------------------*/


/*Responsive*/


/*---------------------------------------------------*/


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  /*general*/
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
   
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1400px) {
    
  }