/*------------------------------------------------*/

/* RESETS */

/*------------------------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 62.5% / 1.15 sans-serif;
}
h1,
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
input[type="text"] {
  border-radius: 0;
}
body {
  width: 100%;
  margin: 0 auto;
  background:#302f83;
  color:white;
  padding-bottom:100px;
}

table {
  color:black;
}

/*------------------------------------------------*/


/* Global styles */


/*------------------------------------------------*/


/*navbar*/

#navbar-brand img {
  max-width:6.5em;
  transition:all 0.2s ease-in-out;
  margin: 0.35em 0em 0em 0.3em;
}

#navbar-brand img:hover {
  opacity:0.7;
}

#nav-links{
  font-family: "Source Sans Pro", "Lato", Arial, sans-serif;
  text-transform:uppercase;
  font-size:1.625em;
  letter-spacing: 0.031em;
  font-weight: 400;
}

#nav-links {
  padding:1.25em 1.875em;
}

#nav-links a {
  margin-left:1.875em;
  color:white;
}

#navbar-brand {
  color:white;
  font-size:30px;
  font-weight:800;
}

/*------------------------------------------------*/


/* Page styles */


/*------------------------------------------------*/

/*--------------------------------------comic page*/

.comic-profile-image {
  border-radius:100%;
  width:200px;
  height:200px;
}

/*--------------------------------------upcoming shows page*/


.calendar-widget-table tbody .hasEvent {
/*background-image:none!important;*/
  background-color: grey;
  color:white;
}

/*footer*/
footer {
  display:none;
}

.footer-copyright {
  text-align:center;
}

/*.valSilverStripe_WellingtonComedy_ComedianHolder {
  display:none!important;
}
*/


/*------------------------------------------------*/


/*Responsive*/


/*---------------------------------------------------*/


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  /*general*/
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  
}