/*------------------------------------------------*/


/* RESETS */


/*------------------------------------------------*/


/*   pink #f1b0c4   */


/*   blue #302F83   */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 62.5% / 1.15 sans-serif;
}

h1,
h2 {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

input[type="text"] {
  border-radius: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  background: #302f83;
  color: white;
}

table {
  color: black;
}

a:hover {
  text-decoration: none;
}


/*------------------------------------------------*/


/* Global styles */


/*------------------------------------------------*/


/*navigation hamburger*/


/*text, headers, buttons*/

h1,
h2,
h3,
h4 {
  font-weight: 800;
  font-family: Lato, Arial, sans-serif;
  text-transform: uppercase;
}

a {
  color: white;
}


p.sm {
  font-size: 1.5em;
  font-weight: 200;
}

.cta-btn.sm {
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 1.5em;
}

.hero p, .hero h1, .hero h2 {
  text-shadow: 0 0 0.25em #302F83, 0 0 0.25em #302F83;
}

.shadow-blu {
  text-shadow: 0 0 0.25em #302F83, 0 0 0.25em #302F83;
}

/*navbar icon*/

#nav-hamburger {
  margin: 1.75em 1em auto auto;
}

.animated-icon {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon span {
  background: #f1b0c4;
}


/* hamburger icon */

.animated-icon span:nth-child(1) {
  top: 0px;
  width: 12px;
}

.animated-icon span:nth-child(2),
.animated-icon span:nth-child(3) {
  top: 7px;
}

.animated-icon span:nth-child(4) {
  top: 14px;
  width: 12px;
  margin-left: 8px;
}

.animated-icon.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.navbar-collapse li {
  text-align: center;
}


/*general animations*/

@keyframes animatedBackground {
  from {
    background-position: 0 1.5em;
  }
  to {
    background-position: 100% 1.5em;
  }
}


/*navbar*/

#nav-container {
  background: #302F83;
  padding-bottom: 1.5em;
}

#nav-container .link {
  color: #f1b0c4;
}

#nav-container.mobile-menu-open {
  padding-bottom: 3.5em;
  box-shadow: 0px 51px 57px -24px rgb(0 0 0 / 30%);
}

#mobile-wavy-menu {
  position: relative;
  display: block;
  width: 100%;
  content: "\00a0\00a0\00a0";
  border-bottom-color: transparent;
  background-image: url(../img/bg-curved.png);
  background-size: auto 18px;
  background-repeat: repeat-x;
  height: 0px;
  animation: animatedBackground 30s linear infinite;
  background-color: transparent;
  opacity: 0;
  top: 30px;
  transition: all 0.3s ease-in-out;
}

#mobile-wavy-menu.show {
  opacity: 1;
  height: 31px;
}

#navbar-brand img {
  max-width: 4em;
  transition: all 0.2s ease-in-out;
  margin: 0.35em 0em 0em 0.55em;
}

#navbar-brand img:hover {
  opacity: 0.7;
}

#nav-links {
  font-family: "Source Sans Pro", "Lato", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.65em;
  letter-spacing: 0.031em;
  font-weight: 400;
  padding: 1em 3em 0em 3em;
}

#nav-links a {
  color: white;
  line-height: 2em;
}

#nav-links a:hover {
  color: #f1b0c4;
}

#navbar-brand {
  color: white;
  font-size: 30px;
  font-weight: 800;
}

/*animations*/

@keyframes fade-in-tim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in-tim {
  0% {
    opacity: 0;
    top: -300px;
  }
  30% {
    opacity: 0;
    top: -50px;
    ;
  }
  50% {
    opacity: 1;
    top: 00px;
    ;
  }
  100% {
    opacity: 1;
    top: 0px;
    ;
  }
}


/*responsive elements */

.mobile {
  display: block;
}

.non-mobile {
  display: none;
}


/*------------------------------------------------*/


/* Page styles */


/*--------------------------------------home page*/

#home-hero {
  padding-bottom: 6em;
}

.swiper-container {
  width: 95%;
  margin-top: 7.5em;
  padding-bottom: 1em;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  display: none;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
}

.swiper-pagination-bullets.disabled {
  display: none;
}

.swiper-slide {
  position: relative;
  padding: 2em 1em 1em 1em;
  background-size: cover!important;
  background-position: 80% 100%;
  text-align: center;
}

.swiper-slide:before {
  content: "";
  background: #302F83;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.85;
}

.swiper-wrapper.disabled {
  transform: translate3d(0px, 0, 0) !important;
}

.todays-events-swiper div {
  font-family: Lato, Arial, sans-serif;
  font-weight: 900;
}

.hero-subheader {
  position: relative;
  font-size: 2.4em;
  letter-spacing: 0.05em;
  line-height: 1.1em;
  color: #f1b0c4;
  max-width: 75%;
  margin: 0 auto;
}

.todays-events-swiper h1 {
  position: relative;
  margin-top: 0.75em;
  font-size: 3.75em;
  line-height: 1.05em;
  color: white;
  transition: all 0.2s ease-in-out;
}

.hero-gig-link h1:hover {
  opacity: 0.7;
}

.todays-events-swiper h2 {
  display: none;
}

.swiper-slide:first-of-type h2 {
  margin-top: 6em;
  transform-origin: 27% 160%;
}

#home-hero .todays-event-blurb {
  position: relative;
  padding-top: 1.5em;
  font-size: 1.9em;
  margin: 0 auto;
  line-height: 1.3em;
  font-weight: 200;
}

.cta-btn {
  position: relative;
  display: inline-block;
  padding: 0.85em 1.35em;
  border: 1px solid white;
  font-size: 1.5em;
  border-radius: 0.5em;
  margin-top: 2em;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: white;
  transition: all 0.2s ease-in-out;
  background: #302F83;
}

h2 {
  font-size: 3em;
  letter-spacing: 0.05em;
  line-height: 1.1em;
  color: #f1b0c4;
  text-align: center;
  /*padding-bottom: 0.75em;*/
  margin-bottom: 0;
}

.wavy:after {
  position: relative;
  display: block;
  content: "\00a0\00a0\00a0";
  border-bottom-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .75s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23f1b0c4' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 1.5em;
  background-size: auto 7px;
  background-repeat: repeat-x;
  padding-bottom: 1em;
  max-width: 20%;
  margin: -0.9em auto 0 auto;
}


/*#home-week-ofit:before {

    position: relative;
    display: block;
    content: "\00a0\00a0\00a0";
    border-bottom-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift 5.75s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(0px);}}%3C/style%3E%3Cpath fill='none' stroke='%23f1b0c4' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 1.5em;
    background-size: auto 7.5px;
    padding-bottom: 0em;
    margin: -0.9em auto 0 auto;
    height: 6em;
    opacity:0.1;

}*/


/*upcoming home events*/

.page-section {
  padding: 6em 0 3.5em 0;
}

.page-section.equal {
  padding: 6em 0 6em 0;
}

.upcoming-header {
  margin: 0 auto;
  /*padding-bottom: 2.375em;*/
}

.upcoming-header img {
  max-width: 50px;
  display: block;
  margin: 0 auto 2.5em auto;
}

#home-week-ofit {
  background: #ffffff0a;
}

#home-week-ofit h4 {
  font-size: 2em;
  letter-spacing: 0.05em;
  line-height: 1.1em;
  text-align: center;
  margin-bottom: 0.5em;
}

.upcoming-header .gig-link {
  font-size: 2.6em;
  font-weight: 500;
  margin-top: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.1em;
  color: white;
  text-align: center;
}

.event-date {
  font-weight: 600;
  font-size: 1.4em;
  text-transform: uppercase;
}

#home-week-ofit .upcoming-event {
  text-align: center;
}

#home-week-ofit .upcoming-event img {
  max-width: 100%;
  border-radius: 0.5em;
  margin-top:2.375em;
}

#home-week-ofit .upcoming-event .upcoming-text-container {
  padding: 2.375em 0.5em 3.5em 0.5em;
}

.upcoming-text-container:last-of-type {
  padding-bottom: 0;
}


/*contact banner*/

#contact-minimal {
  text-align: center;
  background: url("../img/contact-bg.jpg") no-repeat; 
  background-position: 0% 100%;
  background-size:cover;
  box-shadow: inset 0px 230px 220px 0px #00000014;
}

#contact-minimal p {
  padding-top: 1.75em;
}

/*footer*/

#footer {
  padding:3em;
  text-align: center;
  background: #21215f;
}

#footer p {
  margin:0;
  font-size: 1.1em;
  font-weight: 200;
}

/*------------------------------------upcoming shows page*/

/*hero*/

#upcoming-hero {
  margin-top:7em;
  padding-top: 6em;
  text-align: center;
  padding-bottom:6em;
  background: url("../img/contact-bg.jpg") no-repeat; 
  background-position: 0% 50%;
  background-size:cover;
  /*box-shadow: inset 0px 230px 220px 0px #00000014;*/
  margin-bottom:2em;
  color:#f1b0c4;
}



.calendar-widget-table th:after {
/*   position: relative;
    display: block;
    content: "\00a0\00a0\00a0";
    border-bottom-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift 5.75s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(0px);}}%3C/style%3E%3Cpath fill='none' stroke='%23f1b0c4' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 1.5em;
    background-size: auto 7.5px;
    padding-bottom: 0em;
    margin: -0.9em auto 0 auto;
    height: 1em;
    opacity:0.1;*/
}

/*calendar*/
  #upcoming-calendar .calendar-widget-table {
    border:0;
  }
  
  #upcoming-calendar td, #upcoming-calendar th {
      border: 0;
  }


#upcoming-calendar th{
  /*position: relative;
  display: block;
  content: "\00a0\00a0\00a0";
  border-bottom-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .75s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23f1b0c4' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 1.5em;
  background-size: auto 7px;
  background-repeat: repeat-x;
  padding-bottom: 1em;
  max-width: 20%;
  margin: -0.9em auto 0 auto;*/
}


#upcoming-calendar th{
  font-size:1.5em;
  text-transform:uppercase;
}

#upcoming-calendar .calendar-header td{
    background-color: #302F83;
    color: white;
    border-color: #555;
    text-align: center;
}

#upcoming-calendar  tbody td {
    background-color: #ffffff1a;
    padding: 4px;
    width: 13%;
    font-size: 1em;
    color: white;
    border-radius: 0.75em;
    margin: 1px;
    text-align: center;

}

#upcoming-calendar table {
  border-collapse: separate;
  border-spacing: 2px;
  font-weight: 300;
}

#upcoming-calendar .out-of-month {
  background-color:#302f83;
  border: 1px solid #454590;;
}

#upcoming-calendar tbody .hasEvent {
 background-image: none;
    background-color: #f1b0c4de;
    color: #302f83;
}

#upcoming-calendar .out-of-month.hasEvent {
 border: 1px solid #f1b0c473;
    background-color: #302f83;
    color: white;
}

/*------------------------------------------------*/


/*Responsive*/


/*---------------------------------------------------*/


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  /*general*/

  #nav-container {
    padding-bottom: 2em;
  }
  #mobile-wavy-menu {
    display: none;
  }
  #navbar-brand img {
    max-width: 6.2em;
    margin: 0.55em 0em 0em 0.55em;
  }
  #nav-links {
    height: auto;
  }
  #nav-links a {
    margin: auto 0.75em;
  }
  #nav-container .link {
    color: white;
  }
  .link {
    opacity: 1;
    transition: all 0s;
  }
  .underline-wave {
    text-decoration: none;
    background-position: 0 1.25em;
    padding-bottom: 12px;
  }
  .underline-wave:hover {
    position: relative;
    border-bottom-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23f1b0c4' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 1.5em;
    background-size: auto 5px;
    background-repeat: repeat-x;
    padding-bottom: 22px;
  }
  .mobile {
    display: none;
  }
  .non-mobile {
    display: block;
  }

  p.sm {
    font-size:1.85em;
  }

  /*--------------------------------------home page*/

  /*slider*/

  .swiper-container {
    width: 95%;
    height: 100vh;
    padding-top: 11em;
    max-height: 100vh;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: initial;
    color: white;
    opacity: 0.8;
    font-weight: 900;
    font-size: 6em;
    transition: all 0.2s ease-in-out;
    text-shadow: 0 0 1em #302F83, 0 0 0.5em #302F83, 0 0 0.25em #302F83;
  }
  .swiper-button-next:hover:after,
  .swiper-button-prev:hover:after {
    opacity: 1;
    display: initial
  }
  .swiper-button-next.disabled,
  .swiper-button-prev.disabled {
    display: none;
  }
  .swiper-button-disabled:after {
    opacity: 0;
  }
  .swiper-pagination-bullet {
    position: relative;
    top: -2.5em;
    /*top:1em;*/
  }

  .swiper-slide {
    padding: 2.5em 12.5vw 4.5em 15vw;
    background-size: contain!important;
    background-position: 80% 100%;
    text-align: left;
  }
  .swiper-slide:before {
    display: none;
  }
  .swiper-slide:first-of-type {
    padding: 2.5em 12.5vw 4.5em 8.5vw;
  }
  .hero-subheader {
    font-size: 3.25em;
    max-width: 10em;
    line-height: 1.1em;
    color: white;
    margin: initial;
  }
  .hero-subheader:after {
    margin: -1em 0 0 0;
  }

  #home-hero .todays-event-blurb {
    padding-top:1em;
  font-size: 2.75em;
  line-height: 1.3em;
  max-width:35vw;
  margin:0;
  }

  .todays-events-swiper h1 {
    margin-top: 0.40em;
    font-size: 9.35em;
    line-height: 0.935em;
    max-width: 50vw;
  }
  .hero-gig-link h1:hover {
    opacity: 0.7;
  }
  .todays-events-swiper h2 {
    display: initial;
    font-size: 4.5rem;
    color: #f1b0c4;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 9em;
    transform: rotate(270deg);
    transform-origin: 27% 0%;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .swiper-slide:first-of-type h2 {
    margin-top: 6em;
    transform-origin: 27% 160%;
  }
  #home-hero .cta-btn {
    padding: 0.85em 1.35em;
    font-size: 1.9em;
    margin-top: 2.2em;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    display: inline-block;
  }
  #home-hero .cta-btn:hover {
    color: #302f83;
    background-color: white;
  }

  /*upcoming home events*/
  .page-section {
    padding-top: 10vh;
  }

  /*contact*/

  #contact-minimal {
    background-position:0% 50%;
    box-shadow:none;
  }

  /*--------------------------------------comic page*/
  .comic-profile-image {
    border-radius: 100%;
    width: 200px;
    height: 200px;
  }
  /*--------------------------------------upcoming shows page*/
  .calendar-widget-table tbody .hasEvent {
    background-color: grey;
    color: white;
  }

}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {

}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

  /*general*/

  .page-section.squeeze-in {
    padding:7em 7em 3.5em 7em;
  }

  /*-----------------------------home page*/
  h2 {
    font-size:4em;
    padding-bottom:0.5em;
  }
  .swiper-container {
    padding-top:11em;
    margin-top:0;
  }

  .swiper-slide:first-of-type h2 {
    margin-top: 6em;
    transform-origin: 36.5% 160%;
  }

  #home-hero {

  }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1400px) {}